## Manipulating results from Dimensions is straight forward with python and Jupyter Notebooks
With pandas, you can quickly load the results from your Dimensions query into table format, and chart the result

In [1]:
from dimcli.shortcuts import dslquery_json as dslquery
import pandas as pd

In [2]:
#manipulating results is easy in python

results = dslquery("""
     search publications for "nanotechnology"
     return year
""")

df = pd.DataFrame(results['year'])

In [3]:
df.head()

   count    id
0  84419  2018
1  77463  2017
2  76865  2016
3  72868  2015
4  68178  2014

In [4]:
df.set_index('id').sort_values('id').plot()